{
  "hooks": {
    "pre-commit2": "pnpm run if-config hooks.preCommit lint-staged",
    "post-checkout2": "cross-env-shell echo $HUSKY_GIT_STDIN | cross-env-shell sh ./support/lfs-hooks/post-checkout $HUSKY_GIT_PARAMS",
    "post-commit2": "cross-env-shell echo $HUSKY_GIT_STDIN | cross-env-shell sh ./support/lfs-hooks/post-commit $HUSKY_GIT_PARAMS",
    "post-merge2": "cross-env-shell echo $HUSKY_GIT_STDIN | cross-env-shell sh ./support/lfs-hooks/post-merge $HUSKY_GIT_PARAMS",
    "pre-push2": "cross-env-shell echo $HUSKY_GIT_STDIN | cross-env-shell sh ./support/lfs-hooks/pre-push $HUSKY_GIT_PARAMS && pnpm run if-config hooks.prePush \"pnpm checks\""
  }
}
